#wpcontent {
    padding-left: 0 !important;
}

#wpbody-content {
    padding-bottom: 0;
    overflow-y: hidden !important;
}

#wpbody-content .wrap,
#wpbody-content .wrap .siteloaded-control-panel {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
